<%- include('./styles') %>
<%- include('./menu') %>
<div class="wrap">
    <ol>
        <% books.map((book) => { %>
            <li>
                <a href="/api/books/<%= book.id %>/view">
                    <%= book.title %>
                </a>
            </li>
        <% }) %>
    </ol>
</div>
