<div>
    <form action="/api/user/login" method="post">
        <label for="login">Login</label>
        <input id="login" type="text" name="username" required>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" required>
        <button type="submit">Log in</button>
    </form>
    <button onclick="window.location.href='/api/user/signup'">Signup</button>
</div>