<div>
    <form action="/api/user/signup" method="post">
        <label for="login">Login</label>
        <input id="login" type="text" name="username" required>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" required>
        <label for="favorite">Favorite book</label>
        <input id="favorite" type="text" name="favorite">
        <button type="submit">Sign up</button>
    </form>
</div>