.wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.wrap ol li {
    margin-bottom: 10px;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.view {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}